@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-red-600 mb-2">@ViewData["Title"]</h1>
    <p class="text-red-600">You do not have access to this resource.</p>
</header>
