@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<figure class="size-full py-2">
	<img alt="" decoding="async" height="400" src="/privacy_policy.svg" width="900">
</figure>
