@model Conversey.UI_MVC.Models.WorkspaceAdmin.ProjectViewModel

<form id="create-project-step2-form">
    <section id="question-root">
        <header class="flex flex-wrap items-center gap-2">
            <h2 class="text-2xl font-semibold grow">Questions</h2>

            <menu class="flex gap-2">
                <li>
                    <button type="button" class="btn" id="create-question-button">
                        <img src="~/Assets/add.svg" alt="add-icon" class="icon"/>
                        Add question
                    </button>
                </li>

                <li>
                    <button type="button" class="btn" id="create-section-button">
                        <img src="~/Assets/add_directory.svg" alt="add-directory-icon" class="icon"/>
                        Add section
                    </button>
                </li>

                <li>
                    <button type="button" class="btn btn-danger" id="delete-button">
                        <img src="~/Assets/trash.svg" alt="trash-icon" class="icon"/>
                        Delete
                    </button>
                </li>

                <li>
                    <input type="checkbox">
                </li>
            </menu>
        </header>
    </section>

    <input type="hidden" asp-for="CreateStep2ViewModel.QuestionsJson" />
</form>

<script type="module" vite-src="~/components/admin/addquestion/questionStepper.ts"></script>
