@using Conversey.UI_MVC.Resources
@inject IAdminI18nService I18n
@model Conversey.UI_MVC.Models.WorkspaceAdmin.ProjectViewModel

@{
    ViewData["Title"] = I18n["Edit Project"];
}
<div class="min-h-screen bg-background">
    @await Html.PartialAsync("_AdminHeader")
    
    @await Html.PartialAsync("_Stepper", Model)
</div>

@await Html.PartialAsync("_DraftExitModal")
