@using System.Text.Json
@inject Conversey.UI_MVC.Resources.IAdminI18nService AdminI18n
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="/Assets/Conversey_logo.png" />

    <script type="module" vite-src="~/main.ts"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
    <script type="module" vite-src="~/components/shared//universalStepper.ts"></script>

    <script type="module" vite-src="~/components/shared/adminDeleteModal.ts"></script>
    <script type="module" vite-src="~/components/shared/langDropdown.ts"></script>
    <script type="module" vite-src="~/components/shared/adminI18nBindings.ts"></script>
    
    <environment include="Development">
        <link rel="stylesheet" vite-href="~/main.css" asp-append-version="true" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" vite-href="~/main.ts" asp-append-version="true" />
    </environment>
</head>
<body>
    @{
        var path = Context.Request.Path;
        if (path.StartsWithSegments("/admin"))
        {
            var map = AdminI18n.CurrentLanguageMap;
            var lang = AdminI18n.CurrentLanguage;
            var json = JsonSerializer.Serialize(new { lang = lang, strings = map });
            <text>
                <script>window.__AdminI18n = @Html.Raw(json);</script>
            </text>
        }
    }

    <div id="app" class="min-h-screen flex flex-col">
        @RenderBody()
    </div>

    @if (path.StartsWithSegments("/admin"))
    {
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    }

</body>
</html>
