<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="/Assets/Conversey_logo.png" />

    <script type="module" vite-src="~/main.ts"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
    <script type="module" vite-src="~/components/shared/universalStepper.ts"></script>
    <script type="module" vite-src="~/components/shared/createProjectStepper.ts"></script>

    <script type="module" vite-src="~/components/shared/adminDeleteModal.ts"></script>
    <script type="module" vite-src="~/components/shared/projectArchiveModal.ts"></script>
    <script type="module" vite-src="~/components/shared/listSearch.ts"></script>
    
    <environment include="Development">
        <link rel="stylesheet" vite-href="~/main.css" asp-append-version="true" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" vite-href="~/main.ts" asp-append-version="true" />
    </environment>
</head>
<body>
	<div id="app" class="min-h-screen flex flex-col">
		@RenderBody()
	</div>
</body>
</html>
